Spring:
  resources:
    static-locations: classpath:/static/,classpath:/public/,classpath:/resources/,classpath:/META-INF/resources/
  datasource:
    url: jdbc:h2:tcp://localhost/~/sbb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
 #       show-sql: true
        format_sql: true

logging:
 level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace